<a class="btn btn-filled" href="/MICE">TOURISME D'AFFAIRES</a>
<div class="row">
<div class="col-sm-6">
{{ content.field_images }}
</div>
<div class="col-sm-6">

<h4>{{ content.field_type_de_partenaire }}</h4>
{{ content.body }}
<hr />
{{ content.field_fichier_joint }}
<h5>{{ content.field_coordonnees }}</h5>
{{ content.field_sitre_web }}
</div>
</div>
<div class="row">
<div class="col-sm-12">
{{ content.field_carte_geolocalisation }}

</div>
</div>

